{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'singlenote.css' %}" />
    <title>Editing note</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Note taking app</a>
    </nav>
    <div class="note">
        <div class="input-group">
            <div class="card" style="width: 18rem; height: 350px;">
                <div class="card-body">
                    <form action='/editnote/{{ note.id }}' method='post'>
                        <h5>Header:</h5>
                        <div class="header"><input name="note-header" value='{{ note.header }}'></input></div>
                        <h6>Text:</h6>
                        <div class="text">
                            <textarea name="note-text">{{ note.text }}</textarea>
                        </div>
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Change</button>
                    </form>
                    <form action='/removenote/{{ note.id }}' method='get'>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <form action='/' method='get'>
                        <button class="btn btn-secondary" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
