<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
    <div class="note">
        <form action='/editnote/{{ note.id }}' method='post'>
        <div class="header"><input name="note-header" value='{{ note.header }}'></input></div>
        <div class="text"><textarea name="note-text">{{ note.text }}</textarea></div>
            {% csrf_token %}
            <button type="submit">Change</button>
        </form>
        <form action='/removenote/{{ note.id }}' method='get'>
            <button type="submit">Delete</button>
        </form>
        <div class="created"><p>{{ note.created }}</p></div>
    </div>
</body>
</html>
